<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">

        <div class="row">
            <div class="col">
                
                <img src="assets/img/videopreview.png" class="img-responsive" alt="Header" class="img-center">
                
            </div>
            <div class="col">
                <h4>Te damos la bienvenida al centro de soporte de Webcloster</h4>
                <p class="lead">Encuentra tutoriales, videos explicativos y guías</p>
                <button [routerLink]="[ '/videos' ]" type="button" class="btn btn-primary btn-lg">Ver todos</button>
                <!--form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar" #buscarTexto>
                    <button (click)="buscarVideo(buscarTexto.value)" class="btn btn-secondary my-2 my-sm-0" type="button">Buscar</button>
                </form-->
            </div>
        </div>

    </div>
</div>

<!-- 318 811 9009 Llamar casa para arriendo charrito negro, Barrio Alvernia -->