<h1>Heroes</h1>
<div class="card-columns">

    <div class="card">
        <img class="card-img-top" src="assets/img/videopreview.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Descripcion del heroe que vamos a traer desde la base de datos. todos los datos podemos cargarlos haciendo uso de llamados a un archivo externo.</p>
            <p class="card-text"><small class="text-muted">Ultima actualización: 2018-10-01</small></p>

            <button type="button" class="btn btn-outline-primary btn-block">Ver detalle</button>

        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="assets/img/videopreview.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Descripcion del heroe que vamos a traer desde la base de datos. todos los datos podemos cargarlos haciendo uso de llamados a un archivo externo.</p>
            <p class="card-text"><small class="text-muted">Ultima actualización: 2018-10-01</small></p>

            <button type="button" class="btn btn-outline-primary btn-block">Ver detalle</button>

        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="assets/img/videopreview.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Descripcion del heroe que vamos a traer desde la base de datos. todos los datos podemos cargarlos haciendo uso de llamados a un archivo externo.</p>
            <p class="card-text"><small class="text-muted">Ultima actualización: 2018-10-01</small></p>

            <button type="button" class="btn btn-outline-primary btn-block">Ver detalle</button>

        </div>
    </div>

</div>