<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" height="30" class="d-inline-block align-top" alt="">
    </a>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <!--img src="/src/assets/img/logo-600.png" width="30" height="30" class="d-inline-block align-top" alt=""-->
        &nbsp;{{ titulo }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--li class="nav-item active"-->
            <!-- routerLinkActive="active" hace que se active cuando estamos en esa pagina-->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[ 'home' ]">Home <span class="sr-only">(current)</span></a>
            </li>
            <!--li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[ 'heroes' ]">Heroes</a>
            </li-->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[ 'videos' ]">Videos</a>
            </li>
            <!--li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[ 'about' ]">About</a>
            </li-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Productos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Liquida PRO</a>
                    <a class="dropdown-item" href="#">Liquida Master</a>
                    <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Liquida LITE</a-->
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Chat de soporte</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar" (keyup)="buscarVideo(buscarTexto.value)" #buscarTexto>
            <button (click)="buscarVideo(buscarTexto.value)" class="btn btn-secondary my-2 my-sm-0" type="button">Buscar</button>
        </form>
    </div>
</nav>